# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# Virtual environment
.venv/
venv/
env/
ENV/
.env

# Streamlit
.streamlit/

# Jupyter Notebook
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# Model & cache
models_cache/
corpus/*.jsonl
*.bin
*.pt
*.pth

# IDEs
.vscode/
.idea/

# Build & dist
dist/
build/
